.headerContainer {
    margin: 19px 28px 22px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Poppins";
    color: white;
}


.headerText {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0px;
    border-left: 5px solid #53ACFF ;
    padding-left: 14px;
}
