.previewContainer {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow: scroll;
    box-shadow: inset -10px -59px 25px 0px rgba(0, 0, 0, 1);
    font-family: "Poppins", sans-serif;
    overflow-x: auto;
    margin-left: 9px;
}



.previewContainer::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 0px 4px 4px 0px;
}


.previewContainer::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    border-radius: 8px;
}

.previewContainer::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 8px;
    border: 1px solid #999;
}


.previewContainer::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}

.previewRow {
    display: flex;
    flex-direction: row;
    min-width: 870px;
    margin: 16px 9px 0px 9px;
    background-color: rgba(157, 152, 152, 0.2);
    color: white;
    padding: 12px;
    border-radius: 5px;

}

.previewCol {
    width: 25%;
    max-width: 25%;
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: center;
}

.name,
.quantity,
.gross {
    border-right: 1px solid grey;
}

.grossRed {
    color: #D94111
}

.grossGreen {
    color: #118F4B
}

.nameIcon {
    padding-right: 33.67px;
}

.quantityIcon {
    padding-right: 38px;
}

.grossIcon {
    padding-right: 25.32px;
}

.evalIcon {
    padding-right: 26.38px;
}

.previewRow:first-child {
    margin-top: 0;
}